@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10vh;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
    background-color: #1976d2;
    z-index: 10;

}

.companyTitle {
    font-family: 'Bebas Neue', cursive;
    padding-left: 10px;
    letter-spacing: 2px;
    font-size: 34px;
    text-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.burgerMenu-Container {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 5em;
    cursor: pointer;
}

i {
    background-color: white;
    height: 4px;
    width: 32px;
    margin: 3px auto;
    transition: all ease 400ms;
}



.nav-links-container {
    position: absolute;
    right: 0;
    top: 10vh;
    background-color: #039be5;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-110%);
    transition: all ease-in-out 600ms;
    /* border-radius: 15% 0 0 15%; */
    z-index: 9;
    /* overflow-y: hidden; */
}

.nav-item {
    position: relative;
    list-style: none;
    font-size: 23px;
    margin: 30px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}

.nav-item:hover {
    color: black;
    text-decoration: underline;
}


/* Rotations for HAMBURGER-MENU */

.true:nth-child(1) {
    transform: rotate(45deg) translateY(16px);
    background-color: red;
}

.true:nth-child(2) {
    opacity: 0;
}

.true:nth-child(3) {
    transform: rotate(-50deg) translateY(-13px);
    background-color: red;
}

.false:nth-child(1) {
    transform: rotate(0deg) translateY(0);
}

.false:nth-child(2) {
    opacity: 1;
}

.false:nth-child(3) {
    transform: rotate(0deg) translateY(0);
}


/*  */